.id-card-image-background {
    background: linear-gradient(180deg, #4338ca 0%, rgba(50, 3, 237, 0.37) 100%);
  }
  
  #generated-id-card {
    display: none;
  }
  
  #form-elements-container {
    /* animation-name: slide-in-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out; */
    animation: slide-in-animation 0.5s ease-out 0s 1;
  }
  
  @keyframes slide-in-animation {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
    }
  }